/* 큰 틀 */
section{
    margin-top: 120px;
    background-color: #ffefef;
}
#layout01{
    width: 40%;
    float: left;
    margin-left: 10px;
}
#layout02{
    width: 40%;
    float: right;
    margin-right: 10px;
}



/* 서체 */
section h2{
    color: #460000;
    font-size: 25px;
    margin-top: 20px;
}
section h3{
    color: #8b0000;
}
section p{
    color: #d80000;
    font-family: '맑은고딕';
    font-size: 13px;
    font-weight: bold;
    text-align: justify;
}



/* #layout01 내용 설정 */
#layout01 img{
    width: 470px;
    height: 390px;
    margin-top: 10px;
    border-radius: 10px;
}
#plus .img_plus1{
    background: url(img/img05.webp);
    cursor: pointer;
    background-size: cover;
    width: 45px;
    height: 45px;
    border: 2px solid #e24b4b;
    border-radius: 5px;
    margin: 10px 0 15px 20px;
    display: inline-block;
}
#plus .img_plus2{
    background: url(img/img02.jpg);
    cursor: pointer;
    background-size: cover;
    width: 45px;
    height: 45px;
    border: 2px solid #ffbfbf;
    border-radius: 5px;
    margin: 10px 0 15px 0;
    display: inline-block;
}



/* #layout02 내용 설정 */
#page{
    margin-left: 210px;
}
#page p{
    display: inline-block;
}
#page button{
    width: 60px;
    background: none;
    color: #e24b4b;
    border: none;
    display: inline-block;
}
#page button:hover{
    background:none;
    color:#d80000;
    font-weight: bold;
    cursor:pointer;
}


#layout02 input{
    width: 60px;
    height: 35px;
    margin-top: 5px;
    padding: 0 0 0 15px;
    font-size: 20px;
    font-family: "맑은고딕";
    color: #e24b4b;
    border: solid 2px #ffbfbf;
    border-radius: 3px;
}
#normal button{
    width: 360px;
    padding: 10px;
    background: #f09b9b;
    color: white;
    border: none;
    border-radius: 3px;
    margin: 20px 0 50px 0;
}
#normal button:hover{
    background:#e24b4b;
    color:white;
    cursor:pointer;
}


hr{
    border: solid 1px #ffbfbf;
}
section ul p img{
    width: 15px;
    margin: 10px 5px 52px;
    cursor:pointer;
}